<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="frontendPlugins" type ="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="automaticBalancePasses" value="50" />
    <add key="gradient" value="FFFFFF,EEEEEE,ADD8E6,1E90FF,000050,000030,000010,000000" />
  </appSettings>
  <frontendPlugins>
    <add key="SoftRock / Si570" value="SDRSharp.SoftRock.SoftRockIO,SDRSharp.SoftRock" />
    <add key="FUNcube Dongle" value="SDRSharp.FUNcube.FunCubeIO,SDRSharp.FUNcube" />
  </frontendPlugins>
</configuration>