<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.DictionarySectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="inputGain" value="0" />
    <add key="displayTimerInterval" value="40" />
    <add key="automaticIQBalancePasses" value="5" />
    <add key="waterfallAttack" value="1.0" />
    <add key="waterfallDecay" value="0.9" />
    <add key="spectrumAnalyzerAttack" value="0.9" />
    <add key="spectrumAnalyzerDecay" value="0.7" />
    <add key="gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,1E90FF,000091,000050,000030,000020,000000,000000,000000,000000" />
    <add key="spectrumAnalyzerGradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzerColor" value="CCCCCC" />
    <add key="fillSpectrumAnalyzer" value="yes" />
    <add key="funcubeFrequencyCorrection" value="-21.0"/>
    <add key="softrockFrequencyMultiplier" value="4"/>
    <add key="RTLFrequencyCorrection" value="0"/>
    <add key="RTLBufferLength" value="16384"/>
    <add key="minOutputSampleRate" value="32000"/>
  </appSettings>
  <frontendPlugins>
    <add key="SoftRock / Si570" value="SDRSharp.SoftRock.SoftRockIO,SDRSharp.SoftRock" />
    <add key="FUNcube Dongle" value="SDRSharp.FUNcube.FunCubeIO,SDRSharp.FUNcube" />
    <!--
    Due to some nomansland in the way SDR# interfaces to RTLSDR, I decided to drop this functionality.
    This move will preserve SDR#'s integrity and will allow further development away from License trolls.
    Is this the end of RTLSDR support? Of course no! You can always do something! Just ask ;-)
    -->
    <!-- <add key="RTL-SDR / USB" value="SDRSharp.RTLSDR.RtlSdrIO,SDRSharp.RTLSDR" /> --> 
    <add key="RTL-SDR / TCP" value="SDRSharp.RTLTCP.RtlTcpIO,SDRSharp.RTLTCP" />
  </frontendPlugins>
</configuration>