<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="fftOffset" value="-40.0" />
    <add key="fftSpeed" value="40" />
    <add key="fftContrast" value="0" />
    <add key="automaticIQBalancePasses" value="5" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="waterfallAttack" value="1.0" />
    <add key="waterfallDecay" value="0.9" />
    <add key="spectrumAnalyzerAttack" value="0.9" />
    <add key="spectrumAnalyzerDecay" value="0.7" />
    <add key="gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,1E90FF,000091,000050,000030,000020,000000" />
    <add key="spectrumAnalyzerGradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzerColor" value="FFFFFF" />
    <add key="fillSpectrumAnalyzer" value="yes" />
    <add key="funcubeFrequencyCorrection" value="-21.0"/>
    <add key="softrockFrequencyMultiplier" value="4"/>
    <add key="RTLFrequencyCorrection" value="0"/>
    <add key="RTLBufferLength" value="16384"/>
    <add key="minOutputSampleRate" value="32000"/>
    <add key="minimumCICSampleRate" value="1500000"/>
    <add key="rdsUseFEC" value="True"/>
    <add key="timestampInterval" value="100"/>
    <add key="useTimeMarkers" value="false" />
    <add key="SDRIQReadBlockCount" value="1"/>
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="100" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="True" />
    <add key="filterAudio" value="True" />
    <add key="centerScrollLimit" value="5000" />
    <!-- 
    This value is the number of buffers the driver uses. Must be a power of two.  Value of zero is driver default (8)
    -->
    <add key="SDRIQOutFifoBlockCount" value="0"/>
  </appSettings>
  <frontendPlugins>
    <add key="SoftRock / Si570" value="SDRSharp.SoftRock.SoftRockIO,SDRSharp.SoftRock" />
    <add key="FUNcube Dongle Pro" value="SDRSharp.FUNcube.FunCubeIO,SDRSharp.FUNcube" />
    <add key="FUNcube Dongle Pro+" value="SDRSharp.FUNcubeProPlus.FunCubeProPlusIO,SDRSharp.FUNcubeProPlus" />
    <!-- <add key="RTL-SDR / USB" value="SDRSharp.RTLSDR.RtlSdrIO,SDRSharp.RTLSDR" /> -->
    <add key="RTL-SDR / TCP" value="SDRSharp.RTLTCP.RtlTcpIO,SDRSharp.RTLTCP" />
    <add key="SDR-IQ" value="SDRSharp.SDRIQ.SdrIqIO,SDRSharp.SDRIQ" />
    <add key="HackRF" value="SDRSharp.HackRF.HackRFIO,SDRSharp.HackRF" />
  </frontendPlugins>
  <sharpPlugins>
    <add key="DNR" value="SDRSharp.DNR.DNRPlugin,SDRSharp.DNR" />
    <add key="Wave Recorder" value="SDRSharp.WavRecorder.WavRecorderPlugin,SDRSharp.WavRecorder" />
    <add key="Frequency Manager" value="SDRSharp.FrequencyManager.FrequencyManagerPlugin,SDRSharp.FrequencyManager" />
  </sharpPlugins>
</configuration>